body {
  background-color: #ffffff;
  margin: 10px;
}

ul.menu {
  border-style: dotted;
  border-width: 5px;
  border-color: black;

  list-style-type: none;
  margin: 0px;
  padding: 5px;
  overflow: hidden;
  background-color: #ede89d;
  position: fixed;
  top: 0;
  width: 90%;
}

li.menu {
  float: left;
  text-decoration: none;

}

li.menu a {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

li.menu a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
li.menu a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
li.menu a:hover {
  background-color: #1111;
  color: hotpink;
  text-decoration: none;
}

/* selected link */
li.menu a:active {
  color: blue;
  text-decoration: none;
}
