body {
  background-color: rgb(58, 27, 3); /* na wypadek, gdyby obrazek nie działał */
  margin: 10px;
  color: white;
  background-image: url('./tlo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul.menu {
  border-style: dotted;
  border-width: 5px;
  border-color: black;

  list-style-type: none;
  margin: 0px;
  padding: 5px;
  overflow: hidden;
  background-color: #ede89d;
  position: fixed;
  top: 0;
  width: 90%;
}

li.menu {
  font-family: Verdana, Helvetica, sans-serif;
  color: purple;
  float: left;
  text-decoration: none;
  padding: 5px;
}

li.menu a{
  padding: 5px;
  font-weight: bold;
}

li.menu a:link {
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

/* visited link */
li.menu a:visited {
  padding: 5px;
  color: black;
  text-decoration: none;
}

/* mouse over link */
li.menu a:hover {
  padding: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
}

/* selected link */
li.menu a:active {
  padding: 5px;
  color: white;
  text-decoration: none;
}

li.right{
  float: right;
  text-decoration: none;
  padding: 5px;
}

li.right a{
  text-decoration: none;
}

.error {
  color:red;
  font-weight: bold;
}