body {
  background-color: rgb(58, 27, 3); /* na wypadek, gdyby obrazek nie działał */
  margin: 10px;
  color: black;
  background-image: url('./tlo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Verdana, Helvetica, sans-serif;
}

ul {
  font-family: Verdana, Helvetica, sans-serif;
}

ul.menu {
  border-style: dotted;
  border-width: 5px;
  border-color: black;

  list-style-type: none;
  margin: 0px;
  padding: 5px;
  background-color: #ede89d;
  position: fixed;
  top: 0;
  width: 90%;
}

li.menu {
  font-family: Verdana, Helvetica, sans-serif;
  color: purple;
  float: left;
  text-decoration: none;
  padding: 5px;
}

li.menu a{
  padding: 5px;
  font-weight: bold;
}

li.menu a:link {
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

/* visited link */
li.menu a:visited {
  padding: 5px;
  color: black;
  text-decoration: none;
}

/* mouse over link */
li.menu a:hover {
  padding: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
}

/* selected link */
li.menu a:active {
  padding: 5px;
  color: white;
  text-decoration: none;
}

li.right{
  float: right;
  text-decoration: none;
  padding: 5px;
}

li.right a{
  text-decoration: none;
}

.error {
  color:red;
  font-weight: bold;
}

ul.frame{
  text-align: center;
  background-color: #ede89d;
  padding: 5px;
  border-radius: 5px;
  list-style-type: none;
  color: black;
}

div.page{
  width: 50%;
  align: center;
  text-align: center;
  position: relative;
  left: 25%;

  padding: 5px;

  background-color: #ede89d;
  background-image: none;

  border-radius: 15px;
  border-style: dotted;
  border-width: 5px;
  border-color: black;
}

input.button {
  background-color: black;
  border-radius: 5px;

  font-weight: bold;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p.header{
  font-size: 25px;
  font-weight: bold;
}