<!DOCTYPE html>

<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>

<body>
	{% include "application/main_menu.html" %}
	<div class="page">
		<form action="{% url 'application:buddies' %}" method="post">
			{% csrf_token %}
			<label for="buddy_name">Wpisz nazwę użytkownika, którego chcesz zaprosić do znajomych: </label>
			<br>
			<input id="buddy_name" type="text" name="buddy_name" value="">
			{% if buddy_error_message %}
				{{buddy_error_message}}
			{% endif %}
			{% if me_error_message %}
				{{me_error_message}}
			{% endif %}
			<input class="button" type="submit" value="Zaproś">
		</form>

		<p>Twoi znajomi:
			{% for buddy in me.buddies.all %}
				<strong>{{buddy.username}}</strong>{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</p>
	</div>
</body>
</html>