<!DOCTYPE html>

<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>
<body>
	{% include "application/main_menu.html" %}
	<strong> Lista escape roomów </strong>
	<br/>
	<br/>

	<form action="{% url 'application:escaperooms' %}" method="post">
		{% csrf_token %}
		{% for escaperoom in escaperooms %}
		<label><input type="checkbox" name="escaperooms[]" value={{forloop.counter0}} {% if escaperoom in visited %}checked{% endif %}> {{escaperoom.name}}</label><br/>
		{% endfor %}
		<br/>
		<input type="submit" value="Zapisz zmiany">
	</form>

</body>

</html>