<!DOCTYPE html>

<html>

<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>

<body>
	{% include "application/main_menu.html" %}
	
	<form action="{% url 'application:login' %}" method="post">
		{% csrf_token %}
		<label for="username">Nazwa użytkownika: </label>
		<input id="username" type="text" name="username" value="">

		<br/>
		<label for="password">Hasło: </label>
		<input id="password" type="password" name="password" value="">

		<br/>
		<input type="submit" value="Zaloguj">
	</form>

	{% if error_message %}
		<div class="error">{{ error_message }}</div>
	{% endif %}
</body>

</html>