<ul class="menu">

	<li class="menu"><a href = "{% url 'application:escaperooms' %}">Lista ER</a></li>&nbsp


{% if me %}
	<li class="menu"><a href = "{% url 'application:buddies' %}">Znajomi</a></li>&nbsp

	{% comment %} 
	<li class="menu"><a href = "{% url 'application:newgoingout' %}">Zaproś znajomych do ER</a></li>&nbsp
	{% endcomment %}

	<li class="menu"><a href = "{% url 'application:planned' %}">Planowane wyjścia</a></li>&nbsp
	<li class="menu"><a href = "{% url 'application:history' %}">Historia wizyt</a></li>&nbsp

	<li class="menu"><a href = "{% url 'application:profile' me.id %}">Mój profil</a></li>&nbsp

	Zalogowany jako <strong>{{me.username}}</strong>
	<li class="menu"><a href = "{% url 'application:logout' %}">WYLOGUJ</a></li>
{% else %}
	<li class="menu"><a href = "{% url 'application:registration' %}">ZAREJESTRUJ</a></li>&nbsp
	<li class="menu"><a href = "{% url 'application:login' %}">ZALOGUJ</a></li>
{% endif %}
</ul><br/><br/><br/><br/>