<a href = "{% url 'application:escaperooms' %}">Lista ER</a>&nbsp

{% if me %}
	<a href = "{% url 'application:buddies' %}">Znajomi</a>&nbsp

	{% comment %} 
	<a href = "{% url 'application:newgoingout' %}">Zaproś znajomych do ER</a>&nbsp
	{% endcomment %}

	<a href = "{% url 'application:planned' %}">Planowane wyjścia</a>&nbsp
	<a href = "{% url 'application:history' %}">Historia wizyt</a>&nbsp

	<a href = "{% url 'application:profile' me.id %}">Mój profil</a>&nbsp

	Zalogowany jako <strong>{{me.username}}</strong>
	<a href = "{% url 'application:logout' %}">WYLOGUJ</a>
{% else %}
	<a href = "{% url 'application:registration' %}">ZAREJESTRUJ</a>&nbsp
	<a href = "{% url 'application:login' %}">ZALOGUJ</a>
{% endif %}
<br/><br/>

