<!DOCTYPE html>

<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>

<body>
	{% include "application/main_menu.html" %}

	<form action="{% url 'application:newgoingout' %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Utwórz nowe wyjście">
	</form>
	<br/>

	Planowane wyjścia do escape roomów: <br/><br/>

	<div style='ramka_do_wyjsc'></div>
		<table>
			{% for goingout in planned_goingouts %}
			<tr>
				<td>
					<ul>
						<li>Uczestnicy:
							{% for participant in goingout.participants.all %}
							<strong>{{participant.username}}</strong>{% if not forloop.last %}, {% endif %}
							{% endfor %}
						<li>Organizator: <strong>{{ goingout.organisator.username }}</strong></li>
						<li>Escape room: {% if not goingout.decision %} brak decyzji {% else %} <strong>{{ goingout.decision.name }}{% endif %}</strong></li>
					</ul>
				</td>
				<td>
					<form action="{% url 'application:goingout' goingout.id %}" method="post">
						{% csrf_token %}
						<input type="submit" value="Edytuj wyjście">
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

</body>
</html>