<!DOCTYPE html>

<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>

<body>
	{% include "application/main_menu.html" %}
	<div class="page">

		<p class="header">Planowane wyjścia do escape roomów: <p>

		<form action="{% url 'application:newgoingout' %}" method="post">
			{% csrf_token %}
			<input class="button" type="submit" value="Utwórz nowe wyjście">
		</form>
		<br/>

		<table align="center" class="goingout">
			{% for goingout in planned_goingouts %}
			<tr>
				<td>
					<ul class="goingout">
						<li>Escape room: {% if not goingout.decision %} brak decyzji {% else %} <strong>{{ goingout.decision.name }}{% endif %}</strong></li>
						<li>Organizator: <strong>{{ goingout.organisator.username }}</strong></li>
						<li>Uczestnicy:
							{% for participant in goingout.participants.all %}
							<strong>{{participant.username}}</strong>{% if not forloop.last %}, {% endif %}
							{% endfor %}
					</ul>
				</td>
				<td>
					<form action="{% url 'application:goingout' goingout.id %}" method="post">
						{% csrf_token %}
						<input class="button" type="submit" value="Edytuj wyjście">
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>