<!DOCTYPE html>

<html>

<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>

<body>
	{% include "application/main_menu.html" %}
	<div class="page">
		{% if user == me %}
			<p class="header">Twój profil</p>
			</p>Napisz coś o sobie.</p>
			<input class="button" type="submit" value="Zmień hasło">

		{% elif user != me %}
			<p class="header">Profil użytkownika <strong>{{user.username}}</strong></p>
			<br/>
			<br/>
			{% if commonERs_len == 0 %}
				<p>Nie ma escape roomu, w którym i Ty, i {{user.username}} byliście.</p>
			{% else %}
				<p>Byliście w {{commonERs_len}} tych samych escape roomach:</p>
			{% endif %}
			<ul>
				{% for ER in commonERs%}
					<li>{{ER.name}}(<em><a href = {{ER.url}}>Zobacz na LockMe</a></em>)</li>
				{% endfor %}
			</ul>

			{% comment %}
				<p>Planujecie pójść wspólnie do XXXXXX escape roomów: (+ wymienić)</p>
				<p>Planujecie iść do XXXXXXXXX tych samych escape roomów: (+ wymienić)</p>
			{% endcomment %}


			{% if user in me.buddies.all %}
				<form action="{% url 'application:profile' user.id %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="delete_buddies">
					<input class="button" type="submit" value="Usuń ze znajomych">
				</form>
			{% else %}
				<form action="{% url 'application:profile' user.id %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="add_buddies">
					<input class="button" type="submit" value="Dodaj do znajomych">
				</form>
			{% endif %}

		{% endif %}
	</div>
</body>