<!DOCTYPE html>

<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/style.css' %}">
</head>

<body>
    {% include "application/main_menu.html" %}
    {% if error_message_exists %}<p>Już istnieje użytkownik <strong>{{ error_message_exists }}</strong>.</p>{% endif %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="page">

        <form action="{% url 'application:registration' %}" method="post">
            {% csrf_token %}
            <label for="username">Nazwa użytkownika: </label>
            <input id="username" type="text" name="username" value="">

            <br/>
            <label for="password">Hasło: </label>
            <input id="password" type="password" name="password" value="">

            <br/>
            <input class="button" type="submit" value="Zarejestruj">
        </form>
    </div>
</body>

</html>