{% if error_message_exists %}<p>Już istnieje użytkownik o nazwie <strong>{{ error_message_exists }}</strong>.</p>{% endif %}

<form action="{% url 'application:registration' %}" method="post">
    {% csrf_token %}
    <label for="username">Nazwa użytkownika: </label>
    <input id="username" type="text" name="username" value="">

    <br/>
    <label for="password">Hasło: </label>
    <input id="password" type="password" name="password" value="">

    <br/>
    <input type="submit" value="Zarejestruj">
</form>